h6 {
  font-family: 'Playfair Display', serif;
  font-size: larger;
  font-weight: 400;
}

.container {
  font-family: 'Poppins', sans-serif;
}

#copyright {
  font-family: 'Poppins', sans-serif;
  font-size: small;
}

.link-footer:hover {
  color: #ffc107;
}

a {
  text-decoration: none;
}

#share {
	width: 100%;
  	text-align: center;
}

/* buttons */

#share a {
	width: 50px;
  	height: 50px;
  	display: inline-block;
  	margin: 8px;
  	border-radius: 50%;
  	font-size: 35px; 
	opacity: 0.75;
	transition: opacity 0.15s linear;
}

#share a:hover {
	opacity: 1;
}

/* icons */

#share i {
  	position: relative;
  	top: 50%;
  	transform: translateY(-50%);
}

/* colors */

.share-button {
	color: #ffc107;
}
