<!-- Footer -->
<footer class="text-center text-lg-start bg-dark text-muted">


  <!-- Section: Links  -->
  <section class="container">
    <div class="container text-center text-md-start pt-2">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3"></i>BEAUTYTIME
          </h6>
          <figure>
            <blockquote class="blockquote">
              <p>"O sucesso é a soma de pequenos esforços repetidos dia após dia."</p>
            </blockquote>
            <figcaption class="blockquote-footer">
              Robert Collier
            </figcaption>
          </figure>
          <p>

          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Serviços
          </h6>
          <p class="link-footer">
            <a routerLink="sobre" class="text-reset">Sobre</a>
          </p>
          <p class="link-footer">
            <a routerLink="" class="text-reset">Agendamentos</a>
          </p>
          <p class="link-footer">
            <a routerLink="" class="text-reset">Serviços Oferecidos</a>
          </p>
          <p class="link-footer">
            <a routerLink="" class="text-reset">Cancelamentos</a>
          </p>
        </div>
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Contato
          </h6>
          <p><i class="fas fa-home me-3"></i> Recife, PE 50720-130, Brasil</p>
          <p>
            <i class="fas fa-envelope me-3"></i>
            beautytime@exemplo.com
          </p>
          <p><i class="fas fa-phone me-3"></i> + 55 23 99567 8888</p>
        </div>

      </div>

    </div>
  </section>
  <div id="share" class="mb-3 mt-0">

    <!-- whatsapp -->
    <a class="share-button" data-href="https://api.whatsapp.com/send?text={title}&nbsp;{url}" id="js-XFUniqueId36" 
    href="https://api.whatsapp.com/send?text=BEAUTYTIME&nbsp;http://localhost:4200/"><i class="fa fa-whatsapp"></i></a>

    <!-- facebook -->
    <a class="share-button" href="https://www.facebook.com/share.php?u=&title=beautytime" target="blank"><i class="fa-brands fa-facebook"></i></a>
  
    <!-- twitter -->
    <a class="share-button" href="https://twitter.com/intent/tweet?status=beautytime" target="blank"><i class="fa-brands fa-twitter-square"></i></a>
  
    <!-- instagram -->
    <a class="share-button" href="" target="blank"><i class="fa fa-instagram"></i></a>

  </div>
  
  <div class="text-center" id="copyright" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2022 Copyright:
    <a class="text-reset fw-bold" href="#">BEAUTYTIME</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->