<div class="container w-45">
    <div class="text-center">
        <h2>Cadastro de Usuário</h2>
    </div>
    <form #f="ngForm" (ngSubmit)="salvar(f.value)">
        <div class="mb-3">
            <label class="form-label">Nome Completo</label>
            <input #fnome="ngModel" type="text" class="form-control" ngModel name='nome'
                placeholder="Informe seu nome" required>
            <div class="lbl-invalid" *ngIf="fnome.invalid">*Informe nome</div>
        </div>
        <div class="mb-3">
            <label class="form-label">Email</label>
            <input #femail="ngModel" type="email" class="form-control" ngModel name='email'
                placeholder="Informe seu email (ex: nome@email.com)" required>
            <div class="lbl-invalid" *ngIf="femail.invalid">*Informe email</div>
        </div>
        <div class="mb-3">
            <label class="form-label">CPF</label>
            <input #femail="ngModel" type="text" class="form-control" ngModel name='cpf'
                placeholder="(ex: 000.000.000-00)" required>
            <div class="lbl-invalid" *ngIf="femail.invalid">*Informe CPF</div>
        </div>
        <div class="mb-3">
            <label class="form-label">Senha</label>
            <input #fsenha="ngModel" type="password" class="form-control" ngModel name="senha"
                placeholder="Informe a senha" required>
            <div class="lbl-invalid" *ngIf="fsenha.invalid">*Informe senha</div>
        </div>
        <div class="container text-center m-1">
            <button [disabled]="f.invalid" type="submit" class="btn btn-outline-success">Cadastrar</button>
            <button type="reset" class="btn btn-outline-danger ">Cancelar</button>
        </div>
    </form>
    <div class="text-center">
        <a routerLink="/login">Faça login aqui!</a>
    </div>
    <label>{{msg}}</label>
</div>
<router-outlet></router-outlet>
