<div class="container mt-5 pt-5">
  <div class="row">
    <div class="col-md-6 offset-md-3 border p-4 shadow bg-light">
      <div class="col-12">
        <h3 class="mb-4">
          <i class="fa-solid fa-user-tie me-4"></i>Cadastro de Funcionário
        </h3>
      </div>
      <form #f="ngForm" (ngSubmit)="gravar(f.value)">
        <div class="form-group mb-3">
          <label>Nome do Funcionário:</label>
          <input
            #fnome="ngModel"
            type="text"
            class="form-control"
            ngModel
            name="nome"
            placeholder="Digite o nome do funcionário"
            required
            minlength="5"
          />
        </div>
        <div
          class="lbl-invalid text-danger"
          *ngIf="fnome.invalid && (fnome.dirty || fnome.touched)"
        >
          *Informe o nome completo do funcionário
        </div>

        <div class="form-group mb-3">
          <label>Telefone:</label>
          <input
            #ftelefone="ngModel"
            type="text"
            class="form-control"
            ngModel
            name="telefone"
            placeholder="Digite o telefone"
            required
          />
          <div
            class="lbl-invalid text-danger"
            *ngIf="ftelefone.invalid && (ftelefone.dirty || ftelefone.touched)"
          >
            *Informe o telefone
          </div>
        </div>
        <div class="form-group mb-3">
          <label>CPF:</label>
          <input
            #fcpf="ngModel"
            type="text"
            class="form-control"
            ngModel
            maxlength="14"
            mask="000.000.000-00"
            pattern="/^(([0-9]{3}.[0-9]{3}.[0-9]{3}-[0-9]{2})/"
            name="cpf"
            placeholder="Digite o CPF"
            required
          />
          <div
            class="lbl-invalid text-danger"
            *ngIf="(fcpf.invalid && (fcpf.dirty || fcpf.touched)) || validCpf"
          >
            *Informe o CPF e verifique se tem 11 dígitos.
          </div>
        </div>
        <div class="col-12">
          <label>Serviço</label>
          <select #selectServico="ngModel" class="form-select shadow-none" name="servico" [(ngModel)]="servicos.servico" required>
            <option *ngFor="let servico of servicos" value="{{servico.nome}}">{{servico.nome}}</option>
          </select>
          <div class="lbl-invalid text-danger"
            *ngIf="selectServico.invalid && (selectServico.dirty || selectServico.touched)">*Informe um procedimento a
            ser realizado no dia</div>
          </div>
        <div class="form-group mb-3">
          <label>Descrição</label>
          <textarea
            #fdescricao="ngModel"
            type="textarea"
            class="form-control"
            ngModel
            name="descricao"
            placeholder="Digite descrição. Ex: No que é especialista e observações relevantes sobre o profissional"
            maxlength="200"
            required
          ></textarea>

          <div
            class="lbl-invalid text-danger"
            *ngIf="
              fdescricao.invalid && (fdescricao.dirty || fdescricao.touched)
            "
          >
            *Informe uma descrição do que o funcionário faz
          </div>
        </div>
        <div class="text-center my-4">
          <button [disabled]="f.invalid" type="submit" class="btn btn-warning">
            Cadastrar
          </button>
        </div>
      </form>
      <div class="container mt-2">
        <span style="color: green">{{ msg }}</span>
      </div>
      <div class="text-center my-3">
        <a routerLink="/consultaFuncionario">Consultar Funcionários</a>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
