<div>


<div class="container mt-5 mb-3 pd-5 " >
    <table class="table">
        <thead class="bg-success mt-18">
          <tr>
            <th>Id</th>
            <th>Nome do Funcionário</th>
            <th>Telefone</th>
            <th>CPF</th>
            <th>Email</th>
            <th>Serviço</th>
            <th>Descrição</th>
            <th>Edição</th>
            <th>Excluir</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let func of funcionario">
            <td> {{ func.id }}</td>
            <td> {{ func.nome }}</td>
            <td> {{ func.telefone }}</td>
            <td> {{ func.cpf }}</td>
            <td> {{ func.email }}</td>
            <td> {{ func.servico }}</td>
            <td> {{ func.descicao }}</td>
            <td> <a [routerLink]="['/funcionario',func.id]"><i class="material-icons">mode_edit</i></a></td>
            <td> <i role="button" class="material-icons" style="font-size:30px;color:red; cursor: pointer;"
                (click)="excluir(func.id)">delete</i></td>
          </tr>
        </tbody>
      </table>
</div>
</div>