<div class="container my-5">
  <div class="row">
    <div class="col-md-6 offset-md-3 border p-4 shadow bg-light">
      <div class="col-12">
        <h3 class="mb-4"><i class="fas fa-sign-in-alt me-4"></i>Login</h3>
     </div>
      <form #f="ngForm" (ngSubmit)="logar(f.value);">
        <div class="form-group mb-3">
          <label for="inputEmail">Email</label>
          <input #femail="ngModel" type="email" class="form-control" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
            id="inputEmail" ngModel name="email" placeholder="Email para login" required>
          <div class="form-text">Nós não iremos compartilhar seu e-mail com ninguém.</div>
          <div class="text-danger" *ngIf="femail.invalid && (femail.dirty || femail.touched)">*Informe um
            email válido</div>
        </div>
        <div class="form-group mb-3">
          <label for="inputSenha">Senha</label>
          <input type="password" class="form-control" id="inputSenha" ngModel name="senha" placeholder="Senha" required>
        </div>
        <div class="mt-4 text-center">
          <button [disabled]="f.invalid" type="submit" class="btn btn-warning w-100">Login</button>
          <hr>
          <div class="container mt-2" *ngIf="mensagem.length > 0">
            <span style="color: red;">{{ mensagem }}</span>
        </div>
          <div class="container mt-3 text-center">
            <a routerLink="/cadusuario">Não possui conta? Clique aqui!</a>
          </div>
        </div>
        <p class="my-3 text-muted text-center">© 2022</p>
      </form>
    </div>
  </div>
</div>

<router-outlet></router-outlet>