<div class="container mt-5 pt-5 mb-3">
    <table class="table">
        <thead class="bg-dark text-light">
          <tr>
            <th class="fw-normal">Id</th>
            <th class="fw-normal">Nome do Serviço</th>
            <th class="fw-normal">Descrição</th>
            <th class="fw-normal">Preço R$</th>
            <th class="fw-normal">Tempo de execução</th>
            <th class="fw-normal">Status</th>
            <th class="fw-normal">Editar</th>
            <th class="fw-normal">Excluir</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let serv of servicos">
            <td> {{ serv.id }}</td>
            <td> {{ serv.nome }}</td>
            <td> {{ serv.descricao }}</td>
            <td> {{ serv.preco }}</td>
            <td> {{ serv.duracao }}</td>
            <td> {{ serv.status }}</td>
            <td> <a [routerLink]="['/servicos',serv.id]"><i class="material-icons icone-editar">mode_edit</i></a></td>
            <td> <i role="button" class="material-icons" (click)="excluir(serv.id)">delete</i></td>
          </tr>
        </tbody>
      </table>
</div>