<div class="container mt-5 pt-5 mb-3">
  <div class="col-12">
    <h3 class="mb-5"><i class="fa-solid fa-user me-4"></i>Consulta de Usuários</h3>
 </div>
  <table class="table">
    <thead class="bg-dark text-light">
      <tr>
        <th class="fw-normal">Id</th>
        <th class="fw-normal">Nome do Cliente</th>
        <th class="fw-normal">CPF</th>
        <th class="fw-normal">Email</th>
        <th class="fw-normal">Excluir</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of usuario">
        <td> {{ user.id }}</td>
        <td> {{ user.nome }}</td>
        <td> {{ user.cpf }}</td>
        <td> {{ user.email }}</td>
        <td> <i role="button" class="material-icons"
            (click)="excluir(user.id)">delete</i></td>
          </tr>
        </tbody>
      </table>
</div>
