
:root {
  --mainBranco: #fff !important;
  --preto: black;
  --cinzaclaro: silver;
  --cinza: grey;
  --verde: green;
  --color1: #387CA6 !important;
  --color2: #36769A;
  --color3: #2C5F73;
  --color4: #63A5BF;
  --color5: #8FC4D9;
}

.container {
  font-family: 'Poppins', sans-serif;
}

.navbar {
  z-index: 2;
  text-transform: uppercase;
}

.navbar-dark .navbar-brand {
  font-family: 'Playfair Display', serif;
  font-weight: 500;
  font-size: large;
  color: #e9ecef;
}

.navbar-dark .navbar-brand:hover {
  color: #ffc107;
}

.navbar-dark .navbar-nav .nav-link.active {
  color: #e9ecef;
}

.navbar-dark .navbar-nav:hover .nav-link.active {
  color: #ffc107;
}

.navbar-dark .navbar-nav .nav-link {
  color: #e9ecef !important;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: #ffc107 !important;
}

button {
  padding: 0;
  border: 0;
  color: white;
  background-color: #212529;
}

.lbl-bemvindo {
  font-size: small;
  text-transform: none;
}



#btn-logout:hover {
  color: #ffc107;
}

.dropdown-menu>li>a:hover {
  background-image: none;
  background-color: #ffc107;
}

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}

@media only screen and (max-width: 767px) {
  .float {
    bottom:10px;
	  right:10px;
  }
}

.my-float{
	margin-top:16px;
}

.no-bullets{
  list-style-type: none;
  color: white;
}

.lbl-bemvindo{
  width: 0;
}