/**************************FONTE************************/

@import url('https://fonts.googleapis.com/css2? family= Castoro & family= Roboto+Condensed:wght@300 & display=swap');

/************************* CORES ***********************/

:root {
  --mainBranco: #fff !important;
  --preto: black;
  --cinzaclaro: silver;
  --cinza: grey;
  --verde: green;
  --color1: #387CA6 !important;
  --color2: #36769A;
  --color3: #2C5F73;
  --color4: #63A5BF;
  --color5: #8FC4D9;
}
.container{
  font-family: 'Poppins', sans-serif;
}
.navbar {
  z-index: 2;
  text-transform: uppercase;
}

.navbar-light .navbar-brand {
  font-family: 'Playfair Display', serif;
  font-weight: 500;
  font-size: large;
  color: #e9ecef;
}

.navbar-light .navbar-brand:hover {
  color: yellow;
}

.navbar-light .navbar-nav .nav-link.active {
  color: #e9ecef;
}

.navbar-light .navbar-nav:hover .nav-link.active {
  color: yellow;
}

.navbar-light .navbar-nav .nav-link {
  color: #e9ecef !important;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: yellow !important;
}

button {
  padding: 0;
  border: 0;
  color: white;
  background-color: #212529;
}

.lbl-bemvindo {
  font-size: small;
  text-transform: none;
}

label {
  width: 250px;
  padding-right: 5px;
}

#btn-logout:hover {
  color: yellow;
}
.dropdown-menu > li > a:hover {
  background-image: none;
  background-color: yellow;
}