<nav class="navbar navbar-expand-lg navbar-light bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#">BEAUTYTIME</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse navcolor" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a routerLink="sobre" class="nav-link active" aria-current="page">Sobre</a>
        </li>
        <li class="nav-item">
          <a routerLink="cadhorario" class="nav-link active" aria-current="page">Agendamentos</a>
        </li>
        <li class="nav-item">
          <a routerLink="servicos" class="nav-link active" aria-current="page">Serviços</a>
        </li>
        <li class="nav-item">
          <a *ngIf="!userLogado.email" routerLink="login" class="nav-link active" aria-current="page" href="index.html">Login</a>
        </li>
        <li class="nav-item dropdown">
          <a *ngIf="userLogado.perfil=='ADM'" class=" dropcolor nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              Menu
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a routerLink="cadservico" class="dropdown-item">Cadastro Serviços</a></li>
            <li><a routerLink="cadfuncionario" class="dropdown-item">Cadastro Funcionários</a></li>
            <li><a routerLink="cadusuario" class="dropdown-item">Cadastro Clientes</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <button *ngIf="userLogado.email" style="font-size:7px" (click)="logout()"><i class="btn-logout material-icons">exit_to_app</i>Logout</button>
  <label *ngIf="userLogado.email" style="color: white; margin-left: 6px;" class="bg-dark lbl-bemvindo">{{ "Bem vindo(a), " + userLogado.nome + "!" }}</label>
</nav>




<!--ROUTER-->
<router-outlet></router-outlet>
