<div class="container mt-5 pt-5 mb-3">
    <table class="table">
      <thead class="bg-dark text-light">
        <tr>
          <th class="fw-normal">Id</th>
          <th class="fw-normal">Nome</th>
          <th class="fw-normal">Telefone</th>
          <th class="fw-normal">Email</th>
          <th class="fw-normal">Data</th>
          <th class="fw-normal">Horário</th>
          <th class="fw-normal">Serviço</th>
          <th class="fw-normal">Funcionario</th>
          <th class="fw-normal">Observações</th>
          <th class="fw-normal">Edição</th>
          <th class="fw-normal">Excluir</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let hora of horarios">
          <td> {{ hora.id }}</td>
          <td> {{ hora.nome }}</td>
          <td> {{ hora.telefone }}</td>
          <td> {{ hora.email }}</td>
          <td> {{ hora.dia }}</td>
          <td> {{ hora.horario }}</td>
          <td> {{ hora.procedimento }}</td>
          <td> {{ hora.funcionario }}</td>
          <td> {{ hora.observacao }}</td>
          <td> <a [routerLink]="['/horarios',hora.id]"><i class="material-icons icone-editar">mode_edit</i></a></td>
          <td> <i role="button" class="material-icons" (click)="excluir(hora.id)">delete</i></td>
        </tr>
      </tbody>
    </table>
  </div>

  <router-outlet></router-outlet>
  