<div class="container mt-5">
    <h3>Editar Serviço</h3>
    <form #f="ngForm">
    <label>Id</label>
    <input class="form-control mt-2" type="text" [(ngModel)]="servico.id" />
    <label>Nome do Serviço</label>
    <input  #fnome="ngModel" name="nome" ngDefaultControl class="form-control mt-2" type="text" [(ngModel)]="servico.nome" required>
    <div class="lbl-invalid" *ngIf="fnome.invalid">
        *Informe o nome do serviço
    </div>
    <label>Descrição</label>
    <input  #fdescricao="ngModel" name="descricao" ngDefaultControl  class="form-control mt-2" type="text" [(ngModel)]="servico.descricao" required/>
    <div class="lbl-invalid" *ngIf="fdescricao.invalid">
        *Informe a descrição
    </div>
    <label>Preço R$</label>
    <input #fpreco="ngModel" name="preco" ngDefaultControl class="form-control mt-2" type="text" [(ngModel)]="servico.preco" required/>
    <div class="lbl-invalid" *ngIf="fpreco.invalid">
        *Informe o preço
    </div>
    <label>Tempo</label>
    <input #ftempo="ngModel" name="tempo" ngDefaultControl class="form-control mt-2" type="text" [(ngModel)]="servico.tempo" required/>
    <div class="lbl-invalid" *ngIf="ftempo.invalid">
        *Informe o tempo
    </div>
    <label>Status</label>
    <input class="form-control mt-2" type="text" [(ngModel)]="servico.status" />
    <button class="btn btn-outline-success mt-1" (click)="efetivarAlteracao()">Gravar</button>
    <</form>
</div>
<div class="container mt-2">
    <span style="color: green;">{{ msg }}</span>
</div>
 