<div class="container mt-5 pt-5">
    <div class="row">
      <div class="col-md-6 offset-md-3 border p-4 shadow bg-light">
        <div class="col-12">
          <h3 class="mb-4">Cadastro de Cliente</h3>
        </div>
        <form #f="ngForm" (ngSubmit)="salvar(f.value)">
          <div class="form-group mb-3">
            <label>Nome</label>
            <input #fnome="ngModel" type="text" class="form-control" ngModel name='nome' placeholder="Informe nome"
              required>
          </div>
          <div class="text-danger" *ngIf="fnome.invalid && (fnome.dirty || fnome.touched)">*Informe nome</div>
          <div class="form-group mb-3">
            <label>Email</label>
            <input #femail="ngModel" type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" class="form-control"
              ngModel name="email" placeholder="Informe seu email (ex: nome@email.com)" required />
            <div class="text-danger" *ngIf="femail.invalid && (femail.dirty || femail.touched)">*Informe um
              email válido</div>
          </div>
  
          <div class="mb-3">
            <label class="form-label">CPF</label>
            <input #fcpf="ngModel" type="text" class="form-control" ngModel name='cpf'
              placeholder="(ex: 000.000.000-00)" required>
            <div class="text-danger" *ngIf="fcpf.invalid && (fcpf.dirty || fcpf.touched)">*Informe CPF</div>
          </div>

          <div class="mb-3">
            <label class="form-label">Endereço</label>
            <input #fendereco="ngModel" type="text" class="form-control" ngModel name="endereco"
              placeholder="Informe endereço" required>
            <div class="text-danger" *ngIf="fendereco.invalid && (fendereco.dirty || fendereco.touched)">*Informe Endereço</div>
          </div>

          <div class="mb-3">
            <label class="form-label">Cidade</label>
            <input #fcidade="ngModel" type="text" class="form-control" ngModel name="cidade"
              placeholder="Informe cidade" required>
            <div class="text-danger" *ngIf="fcidade.invalid && (fcidade.dirty || fcidade.touched)">*Informe Cidade</div>
          </div>

          <div class="mb-3">
            <label class="form-label">Estado</label>
            <input #festado="ngModel" type="text" class="form-control" ngModel name="estado"
              placeholder="Informe Estado" required>
            <div class="text-danger" *ngIf="festado.invalid && (festado.dirty || festado.touched)">*Informe Estado</div>
          </div>

          <div class="mb-3">
            <label class="form-label">CEP</label>
            <input #fcep="ngModel" type="text" class="form-control" ngModel name="cep"
              placeholder="Informe CEP" required>
            <div class="text-danger" *ngIf="fcep.invalid && (fcep.dirty || fcep.touched)">*Informe Endereço</div>
          </div>

          <div class="d-flex justify-content-between text-center my-4">
            <button type="reset" class="btn btn-outline-secondary ">Cancelar</button>
            <button [disabled]="f.invalid" type="submit" class="btn btn-warning">Cadastrar</button>
          </div>
        </form>
        <div class="text-center mt-4">
          <a routerLink="/consultacliente">Consulte os clientes cadastrados!</a>
          
        </div>
        <label>{{msg}}</label>
      </div>
    </div>
  </div>
  
  <router-outlet></router-outlet>
  