<div class="container mt-5 pt-5">
  <div class="row">
    <div class="col-md-6 offset-md-3 border p-4 shadow bg-light">
      <div class="col-12">
        <h3 class="fw-normal fs-4 text-uppercase mb-4">Formulário de Agendamento</h3>
      </div>
      <form #form="ngForm" (ngSubmit)="gravar(form.value)">
        <div class="row g-3">
          <div class="col-12">
            <input #nome="ngModel" type="text" class="form-control shadow-none" ngModel name="nomeCompleto" required
              minlength="1" oninput="this.value = this.value.toUpperCase()" pattern=".*\s.*"(keypress)="omitirCharEspecial($event)"
              placeholder="Nome Completo">
            <div class="lbl-invalid text-danger" *ngIf="nome.invalid && (nome.dirty || nome.touched)">*Informe
              o nome completo</div>
          </div>
          <div class="col-md-6">
            <input #tel="ngModel" type="tel" class="form-control shadow-none" ngModel name="telefone" required
              minlength="9" placeholder="Número de telefone">
              <div class="lbl-invalid text-danger" *ngIf="nome.invalid && (nome.dirty || nome.touched)">*Informe
               número de telefone válido: (xx) xxxx-xxxx</div>
          </div>
          <div class="col-md-6">
            <input #email="ngModel" type="email" class="form-control shadow-none" ngModel name="email" required email
              placeholder="Email">
          </div>
          <div class="col-md-6">
            <input #data="ngModel" type="date" class="form-control shadow-none" ngModel name="data" required
              placeholder="Data">
          </div>
          <div class="col-md-6">
            <input #horario="ngModel" type="time" class="form-control shadow-none" ngModel name="horario" required
              placeholder="Horário">
          </div>
          <div class="col-12">
            <select #selectServico="ngModel" class="form-select shadow-none" ngModel name="procedimento" required>
              <option selected="">Selecione o Procedimento</option>
              <option value="1">#</option>
              <option value="2">#</option>
              <option value="3">#</option>
            </select>
          </div>
          <div class="col-12">
            <textarea #obs="ngModel" class="form-control shadow-none" ngModel placeholder="Observação"></textarea>
          </div>
          <div class="col-12 mt-5">
            <button type="submit" class="btn btn-warning float-end shadow-none" [disabled]="!form.valid">Marcar
              Horário</button>
            <button type="button" class="btn btn-outline-secondary float-end me-2 shadow-none">Cancelar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
