<div class="container mt-5 pt-5">
  <div class="row">
    <div class="col-md-6 offset-md-3 border p-4 shadow bg-light">
      <div class="col-12">
        <h3 class="fw-normal fs-4 mb-4">Formulário de Agendamento</h3>
      </div>
      <form #form="ngForm" (ngSubmit)="gravar(form.value)">
        <div class="row g-3">
          <div class="col-12">
            <input #formnome="ngModel" type="text" class="form-control shadow-none" ngModel name="nome" required
              minlength="1" oninput="this.value = this.value.toUpperCase()" pattern=".*\s.*"
              (keypress)="omitirCharEspecial($event)" placeholder="Nome Completo">
            <div class="lbl-invalid text-danger" *ngIf="formnome.invalid && (formnome.dirty || formnome.touched)">
              *Informe
              o nome completo</div>
          </div>
          <div class="col-md-6">
            <input #formtelefone="ngModel" type="tel" class="form-control shadow-none" ngModel name="telefone" required
              minlength="9" placeholder="Número de telefone">
            <div class="lbl-invalid text-danger"
              *ngIf="formtelefone.invalid && (formtelefone.dirty || formtelefone.touched)">*Informe
              número de telefone válido: (xx) xxxx-xxxx</div>
          </div>
          <div class="col-md-6">
            <input #formemail="ngModel" type="email" class="form-control shadow-none" ngModel name="email" required
              email placeholder="Email">
            <div class="lbl-invalid text-danger" *ngIf="formemail.invalid && (formemail.dirty || formemail.touched)">
              *Informe um
              email</div>
          </div>
          <div class="col-md-6">
            <input #formdia="ngModel" type="date" class="form-control shadow-none" ngModel name="dia" required
              placeholder="Data">
            <div class="lbl-invalid text-danger" *ngIf="formdia.invalid && (formdia.dirty || formdia.touched)">
              *Informe
              um dia</div>
          </div>
          <div class="col-md-6">
            <input #formhorario="ngModel" type="time" class="form-control shadow-none" ngModel name="horario" required
              placeholder="Horário">
            <div class="lbl-invalid text-danger"
              *ngIf="formhorario.invalid && (formhorario.dirty || formhorario.touched)">*Informe
              um horário</div>
          </div>
          <div class="col-12">
            <select #selectServico="ngModel" class="form-select shadow-none" ngModel name="procedimento" required>
              <option selected="">Selecione o Procedimento</option>
              <option *ngFor="let servico of servicos, let i = index" value="{{i}}">{{servico.nome}}</option>
            </select>
            <div class="lbl-invalid text-danger"
              *ngIf="selectServico.invalid && (selectServico.dirty || selectServico.touched)">*Informe um procedimento a
              ser realizado no dia</div>
          </div>
          <div class="col-12">
            <textarea #formobservacao="ngModel" class="form-control shadow-none" ngModel name="observacao"
              placeholder="Observação"></textarea>
          </div>
          <div class="col-12 mt-5 d-flex  justify-content-between">
            <button type="button" class="btn btn-outline-secondary float-end me-2 shadow-none">Cancelar</button>
            <button type="submit" class="btn btn-warning float-end shadow-none" [disabled]="!form.valid">Marcar
              Horário</button>

          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
