<div class=" container p-5 m-5">
    <h3>Cadastro de serviço - ADM</h3>
    <form #f="ngForm" (ngSubmit)="gravar(f.value)">
        <div class="form-group mb-3">
          <label>Nome do Serviço</label>
          <input #fnome="ngModel" type="text" class="form-control" ngModel name="nome" placeholder="Digite o nome do serviço" required>
          <div class="lbl-invalid" *ngIf="fnome.invalid">*Informe o nome do serviço</div>
        </div>
        <div class="form-group mb-3">
            <label>Descrição</label>
            <input #fdescricao="ngModel" type="text" class="form-control" ngModel name="descricao" placeholder="Digite descrição" required>
            <div class="lbl-invalid" *ngIf="fdescricao.invalid">*Informe a descrição</div>
          </div>
          <div class="form-group mb-3">
            <label>Preço</label>
            <input #fpreco="ngModel" type="text" class="form-control" ngModel name="preco" placeholder="Digite o preço R$" required>
            <div class="lbl-invalid" *ngIf="fpreco.invalid">*Informe o valor (ex: 23.70)</div>
          </div>
          <div class="form-group mb-3">
            <label>Tempo estimado</label>
            <input #ftempo="ngModel" type="text" class="form-control" ngModel name="tempo" placeholder="Digite o tempo de execução em minutos" required>
            <div class="lbl-invalid" *ngIf="ftempo.invalid">*Informe o tempo estimado (ex: 90 min)</div>
          </div>
          <div class="container mb-3">
              <h4 class="mt-3">Status do serviço</h4>
              <div class="form-check">
                <input class="form-check-input" type="radio" ngModel name="status"  value="ativo" checked>
                <label class="form-check-label" for="radio1">
                  Ativo
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" ngModel name="status"  value="inativo" checked>
                <label class="form-check-label" for="radios2">
                  Inativo
                </label>
              </div>
          </div>
        <button [disabled]="f.invalid" type="submit" class="btn btn-primary">Cadastrar</button>
      </form>
      <div class="container mt-3">
        <a routerLink="/consultaServico">Consultar serviços cadastrados</a>
      </div>
</div>

<router-outlet></router-outlet>