/* You can add global styles to this file, and also import other style files */
body {
  font-family: 'Poppins', sans-serif;
}

.wraper-image {
  position: relative;
  /* height: 100vh;*/
  background: url(../src/assets/images/bg2.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  /* filter: blur(5px); */
}

/* .wraper-image:before {} */
