<div class="container mt-5 pt-5 mb-3">
    <table class="table">
      <thead class="bg-dark text-light">
        <tr>
          <th class="fw-normal">Id</th>
          <th class="fw-normal">Cliente</th>
          <th class="fw-normal">CPF</th>
          <th class="fw-normal">Endereço</th>
          <th class="fw-normal">Cidade</th>
          <th class="fw-normal">Estado</th>
          <th class="fw-normal">CEP</th>
          <th class="fw-normal">Email</th>
          <th class="fw-normal">ID do Usuário</th>
          <th class="fw-normal">Edição</th>
          <th class="fw-normal">Excluir</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cli of cliente">
          <td> {{ cli.id_cliente }}</td>
          <td> {{ cli.nome }}</td>
          <td> {{ cli.cpf }}</td>
          <td> {{ cli.endereco }}</td>
          <td> {{ cli.cidade }}</td>
          <td> {{ cli.estado }}</td>
          <td> {{ cli.cep }}</td>
          <td> {{ cli.email }}</td>
          <td> {{ cli.id_usuario }}</td>
          <td> <a [routerLink]="['/editacliente',cli.id_cliente]"><i class="material-icons">mode_edit</i></a></td>
          <td> <i role="button" class="material-icons" style="font-size:30px;color:red; cursor: pointer;"
              (click)="excluir(cli.id_cliente)">delete</i></td>
            </tr>
          </tbody>
        </table>
  </div>
  
