tr:nth-child(even) {
    background-color: #ffc107;
  }
  
  .material-icons {
    font-size: 30px;
  }
  
  .material-icons:hover {
    color: mediumblue;
  }
  .icone-editar{
      color: #212529;
  }